<?xml version="1.0" charset="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Editing</title>
    </head>
    <body>
        <div id="content">
            <div class="lxe-pi">
                <span class="lxe-tago">&lt;</span>
                <span class="lxe-pio">?</span>
                <span class="lxe-qname">xsl-stylesheet</span>
                <span class="lxe-pibody">href="larus://berigora.net/+/deadbeef"</span>
                <span class="lxe-pic">?</span>
                <span class="lxe-tagc">&gt;</span>
            </div>
            <div class="lxe-element">
                <div class="lxe-starttag">
                    <span class="lxe-tago">&lt;</span>
                    <span class="lxe-qname">
                        <span class="lxe-nsname">ffml</span>
                        <span class="lxe-nssep">:</span>
                        <span class="lxe-localname">ffml</span>
                    </span>
                    <span class="lxe-tagc">&gt;</span>
                </div>
                <div class="lxe-element">
                    <div class="lxe-starttag">
                        <span class="lxe-expandbutton expanded">-</span>
                        <span class="lxe-tago">&lt;</span>
                        <span class="lxe-qname">
                            <span class="lxe-nsname">ffml</span>
                            <span class="lxe-nssep">:</span>
                            <span class="lxe-localname">chapter</span>
                        </span>
                        <span class="lxe-attribute">
                            <span class="lxe-qname">
                                <span class="lxe-localname">ordinal</span>
                            </span>
                            <span class="lxe-attrsep">=</span>
                            <span class="lxe-attrval">1</span>
                        </span>
                        <span class="lxe-tagc">&gt;</span>
                    </div>
                </div>
                <div class="lxe-endtag">
                    <span class="lxe-tago">&lt;</span>
                    <span class="lxe-etag">/</span>
                    <span class="lxe-qname">
                        <span class="lxe-nsname">ffml</span>
                        <span class="lxe-nssep">:</span>
                        <span class="lxe-localname">ffml</span>
                    </span>
                    <span class="lxe-tagc">&gt;</span>
                </div>
            </div>
        </div>
    </body>
</html>
