.lxe-editorcontainer .lxe-char { color: gray; }

.lxe-editorcontainer .lxe-attrval:before { content: "\""; }
.lxe-editorcontainer .lxe-attrval { color: #0a0; }
.lxe-editorcontainer .lxe-attrval:after { content: "\""; }

.lxe-editorcontainer .lxe-cursorpresent { background-color: #ccf;}
.lxe-editorcontainer .lxe-selectstart { border-left: 2px solid red; }
.lxe-editorcontainer .lxe-selectend { border-right: 2px solid blue; }

.lxe-editorcontainer .lxe-elementcontent {padding-left: 1em;}